/*Importing 'Poppins Font' from google fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin:0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
   color: #fff;
   text-decoration: none;
}

body{
    color:#fff;
    background-color: #212121;
    padding: 1.5rem;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    margin: 15px 0 30px 0;
}

/*Search-box form styling*/
.search-box form{
    display: flex;
    max-width: 400px;
    padding: 8px;
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
}

/*Search-box input animation styles*/
.search-box input{
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.9) ;
}

/*Stylings for both search-box and search button animation*/
.search-box .search-btn{
    width:120px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0.4rem 0.4rem 0;
    transition: all 0.5s ease;
}

/*Styling for the animation*/
search-box .search-btn:hover{
    background-color: #0091ea;
    border: 1px solid #fff;
}

/*Stylings for the card container*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Arrangement of cards on the page */
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*stylings for the card*/
.card {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.card img {
    width: calc(25%-10px); /*It adjusts the width we can fit 4 cards per row */
    height: auto;
    border-radius: 8px;
}